<h1>Suggestions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Overall</th>
  </tr>

<% @charities.each do |charity| %>
  <tr>
    <td><%= charity.name %></td>
    <td><%= charity.description %></td>
    <td><%= charity.overall %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Take our survey', 'survey' %>